<h1 id="tableLabel">Midi files</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!midifiles"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
<table *ngIf="midifiles">
    <thead>
        <tr>
            <th>filePath</th>
            <th>fileNumber</th>
            <th>composer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let midifile of midifiles">
            <td>{{ midifile.filePath }}</td>
            <td>{{ midifile.fileNumber }}</td>
            <td>{{ midifile.composer }}</td>
            <td><button type="button" title="play midi"
            (click)="play(midifile)">x</button></td>
        </tr>
    </tbody>
</table>
<a href="https://localhost:7296/MidiData/maestro/2009/MIDI-Unprocessed_11_R1_2009_06-09_ORIG_MID--AUDIO_11_R1_2009_11_R1_2009_07_WAV.midi">file url</a>
<app-upload></app-upload>
<app-download></app-download>
